.row {
    position: relative;
    clear: both;
}
.form-row{
    margin-top: 1.25rem;
}
@media only screen and (min-width: 37.5em){
    .form-item--multi {
        display: table;
        width: 100%;
    }
    .form-item--multi .form-item, .form-item--multi .form-search {
        display: table-cell;
        vertical-align: bottom;
    }
    .form-item--multi .form-item:first-child input, .form-item--multi .form-search:first-child input {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-right-width: 0;
    }
    .form-item--multi .form-item input, .form-item--multi .form-search input {
        border-radius: 0;
    }
    .form-search.form-item--small {
        font-size: 0.813rem;
        line-height: 0.9375rem;
    }
    .form-search.form-item--small .form-search__clear {
        right: 32px;
        line-height: 28.8px;
    }
}
.form-item--multi .form-col--med {
    width: 34.9%;
    min-width: 4.6875em;
}

.aria--visible,
.fontface .icon--text,
.radio-wrapper input[type=radio],
.form-radio input[type=radio],
.radios--color input[type=radio] {
    position: absolute !important;
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}
.form-item label, .form-search label {
    margin-top: 1.25rem;
    position: relative;
}
.block--content--low {
    padding: 0.625rem 1.25rem;
}

.radio-wrapper label,
.form-radio label,
.form-checkbox label{
    /*padding: 0.375rem 0 0 2rem;*/
    cursor: pointer;
    position: relative;
    margin-top: 0;
    text-align: left;
    margin-right: 15px;
}
.form-checkbox label {
    margin-bottom: 0;
    padding-left: 1.7em;
    margin-right: 25px;
}
.form-item label.text--med,
.form-search label.text--med,
.button--tabs a,
.button--sg-tabs a,
.button--tabs .flexnav__toggler,
.button--sg-tabs .flexnav__toggler,
.terms-list--bold dd,
.sg-mainnav a {
    font-size: 1rem;
    line-height: 1;
}
.checked .form-item--toggle {
    display: inline-block;
    width: 80px;
    height: 32px;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.form-item--error [class^="icon-"] {
    color: #fe635f;
    position: absolute;
    right: 10px;
    bottom: .9em;
    height: 18px;
    width: 18px;
    text-align: center;
}

.form-search {
    position: relative;
}
.form-item--inline:first-child {
  margin-left: 0px;
}
.form-item--inline {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.625rem;
    margin-right: 0.375rem;
}
.block--filter .form-item--inline {
    margin-top: 1.25rem;
    display: inline-block;
}
.form-search.form-search--inline.form-item--small .form-search__clear, .form-search.form-search--inline .form-search__clear {
    right: 1px;
}
.form--daterange{
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
    height: 32px;
    position: relative;
    padding-left: 32px;
    min-width: 220px;
}
.js .form--daterange__start, .js .form--daterange__end{
    display: none;
}
.form--daterange .icon-clear {
    background-color: transparent;
    border: none;
    color: #474747;
    line-height: 1;
    padding: 0;
    position: absolute;
    outline: none;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    display: none;
}
.form--daterange__range {
    background: transparent;
    border: none;
    color: #474747;
    cursor: pointer;
    font-size: 13px;
    line-height: normal;
    height: 100%;
    outline: none;
    padding: 0 30px 0 10px;
    width: 100%;
}
.form--daterange:after {
    font-family: "framework-icons";
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E020";
    width: 32px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 30px;
}
.form--daterange.is-active {
    border: 1px solid #038cd6;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.07);
}